:root {
  --primary-color: #9fd3c7;
  --button-color: #f0d34a;
  --font-style: "Poppins", sans-serif;
  --secondary-font: "Dosis", sans-serif;
}

.logo {
  max-width: 85px;
}
.btn-branding {
  background-color: var(--button-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  border-radius: 4px;
  padding: 15px 30px;
  margin-top: 70px;
}
.island-hopping {
  position: relative;
  margin-left: 100px;
}
.waterpark {
  position: relative;
  margin-top: 100px;
}
.night-market {
  position: relative;
  margin-top: 50px;
}
.heading {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  font-family: var(--secondary-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.btn-branding:hover {
  background-color: var(--button-color);
  color: white;
}
.turquoise {
  background-color: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}
.andamanda {
  position: relative;
  margin-left: 100px;
  margin-top: 100px !important;
}
.market-image {
  position: relative;
  margin-top: 90px;
}
p {
  font-family: var(--font-style);
}
.turquoise p {
  font-family: var(--font-style);
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
  margin: 0;
  line-height: 2;
}
.turquoise h1 {
  font-family: var(--font-style);
  font-weight: 400;
  font-style: italic;
  font-size: 50px;
}

h1 {
  text-align: center;
}
